<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities">Display all the Celebrities</a>
<a href="/movies">Display all the Movies</a>
<a href="/celebrities/create">Create a New Celebrity</a>
<a href="/movies/create">Create a New Movie</a>